body{
    background-color:powderblue;
    color: black;
    font-style:italic;
    position:relative;
    left:250px;
    font-family:"Trebuchet MS";
}
p#happy{ -webkit-animation:name 2s infinite;

}
@-webkit-keyframes name {
    0% {background-color:black;}
    100% {background-color:white;}
}
